body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fff8e1; /* 浅黄色背景 */
}

h1, h2 {
    margin-bottom: 20px;
    color: #333333; /* 深灰色文本 */
}

p, ul {
    margin-bottom: 15px;
    color: #555555; /* 中灰色文本 */
}

.navbar {
    margin-bottom: 20px;
    background-color: #f39c12; /* 黄色导航栏 */
}

.navbar .nav-link {
    color: #ffffff; /* 白色链接 */
}

header {
    background-color: #f1c40f; /* 亮黄色 */
    color: #ffffff; /* 白色文本 */
}

footer {
    background-color: #f39c12; /* 黄色页脚 */
    color: #ffffff; /* 白色文本 */
}

.btn-primary {
    background-color: #f39c12; /* 黄色按钮 */
    border-color: #f39c12;
}

.btn-primary:hover {
    background-color: #e67e22; /* 按钮悬停效果 */
    border-color: #e67e22;
}